.content {
  margin-top: 10px;
  height: 95vh;

  &__data {
    max-height: 85vh;
  }

  &__buttons {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.card {
  width: 100%;
  cursor: pointer;
}
