<ng-container *ngIf="category">
  <tui-island class="tui-space_bottom-3" [routerLink]="['spending', 'new']" [queryParams]="{categoryId: category.id}">
    <div class="tui-island__content">
      <div class="tui-island__figure">
        <div style="height: 24px; width: 24px">
          <tui-hosted-dropdown [(open)]="menuOpen" [content]="dropdown" (click)="onMenuClick($event)">
            <tui-svg src="tuiIconMoreVer"></tui-svg>
          </tui-hosted-dropdown>
        </div>
      </div>
      <div>
        <p class="tui-island__category">{{category.name}}</p>
        <h3 class="tui-island__title">{{category.amount}}</h3>
        <p class="tui-island__paragraph">{{category.percent | percent}}</p>
      </div>
    </div>
  </tui-island>

  <ng-template #dropdown>
    <tui-data-list>
      <button tuiOption [routerLink]="['spending', 'new']" [queryParams]="{categoryId: category.id}">Add expanse</button>
      <button tuiOption [routerLink]="['expenses']" [queryParams]="{categoryId: category.id}">Show expanses</button>
      <button tuiOption [routerLink]="['..', 'settings', 'categories', category.id]">Edit the category</button>
    </tui-data-list>
  </ng-template>
</ng-container>
